################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/SecureAPI/.vs/SecureAPI
/server/SecureAPI/bin/Debug/net5.0/ref
/server/SecureAPI/bin/Debug/net5.0
/server/SecureAPI/obj
*.user
